body {
    background-color: azure;
}

header {
    text-align: center;
    font-size: 13pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    padding: 15px;
    width: 500px;
    background-color: bisque;
    border-radius: 30px;
}