body {
    background-color: antiquewhite;
    text-align: center;
}

header {
    font-size: 12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    font-size: 12pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 100px;
    ;

}